*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#box
{
    background-color: green;
    height: 400px;
    width: 500px;
    /* margin: 47px 500px; */
    text-align: center;
    border-radius: 22px;
    padding: 20px;
}
select {
    margin: 50px;
}
.main

{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://cdn.pixabay.com/photo/2015/07/26/16/35/business-861325_1280.jpg);
    background-position:center;
    background-repeat: no-repeat;
    height: 100vh;
    /* object-fit: cover; */
    background-size: cover;
    width: 100%;

}